.user_info
  %a{ :href => "#{user_path(current_user)}"}
    %span
      = gravatar_for current_user, :size => 30
      %span.user_name
        = current_user.name
  %br
  %span.microposts
    = pluralize(current_user.microposts.count, "micropost")
  %br
  -#%span.following
  -#  = link_to "#{current_user.following.count} following", following_user_path(@user)
  -#%br
  -#%span.followers
  -#  = link_to pluralize(current_user.followers.count, "follower"), followers_user_path(@user)
